* {
    /* font-family: "Inter", sans-serif; */
    /* font-size: 15px; */
}

body {
    /* background-color: #050f19; */
}

.kanit_thin_font {
    font-family: "Kanit" !important;
}

.inter {
    font-family: "Inter", sans-serif;
}

.d_ p {
    font-size: 12px;
}

.d_2 {
    font-size: 10px;
}

.bg_c {
    background-color: #050f19;
    color: #fff;
}

.welcome_d {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("./../imgs/jij_.png");
    background-position: top;
    background-size: cover;
    height: 80vh;
    /* margin-top: 20vh; */
    background-color: #050f19;
}

.sign_in_login_btn {
    background-color: #46e2bb;
}

#harness_the_power {
    padding-top: 15vh;
    font-size: 40px;
}

._dess {
    color: rgb(252, 80, 0);
    font-size: 65px;
    line-height: 38px;
}

._dessw {
    font-size: 60px;
}
._dess_w {
    font-size: 20px;
}

.adv {
    width: 450px;
}

.so_ {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center; */

    height: 100%;
    background: linear-gradient(0deg, #737373, #f5f6f7);
}

.adv {
    margin-top: 20px;
}

.ds_ww {
    cursor: pointer;
}

.ds_ww p {
    padding: 20px;
    font-size: 20px;
    margin: 0;
    /* line-height: 15px; */
}

.dsq_ h3 {
    font-size: 45px;
}

.hrr {
    width: 90%;
    height: 1px;
    border: 2px solid #fc5000;
}

.ok_ h3 {
    font-size: 50px;
}

.oks_ {
    font-size: 40px;
    padding-top: -20px;
}

.okF_ img {
    width: 1200px;
    margin-top: -200px !important;
    margin-left: -100px !important;
}

.c_d img {
    width: 75px !important;
}

#trade_like_a_boss {
    background-image: url("./../trade_like.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 60vh;
    margin-top: 120px;
}

#unreal_t {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.prismic.io/tnfev2/ZmwoQJm069VX1wRW_Homepage-Mobile-CTA-Background.png?auto=format,compress?auto=compress,format&rect=0,0,828,882&w=1000&h=1065");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#trade_like_a_boss img {
    position: relative;
    bottom: 200px;
}

#marketBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://images.prismic.io/tnfev2/97e2b201-5ebe-477c-a4fe-47c7ca0a88ed_markets-hero.png?auto=compress,format");
    background-position: top;
    background-size: cover;
    height: 70vh;
    background-color: #050f19;
}

#jise__:hover {
    border: 1px solid #fc5000 !important;
    box-shadow: 0px 0px 15px 0px #fc5000;
}

.ng_s {
    border-bottom: none !important;
}

.ng_s .nav-link {
    color: rgb(5, 15, 25) !important;
    opacity: 0.6;
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 18px !important;
    text-align: left !important;
    font-weight: 400 !important;
    border-bottom: 1px solid rgb(5, 15, 25) !important;
}

.ng_s .active {
    color: rgb(5, 15, 25) !important;
    opacity: 1 !important;
    border-bottom: 1px solid #fc5000 !important;
}

.hyd_ {
    font-size: 23px !important;
    line-height: 30px !important;
}

.ng_s button {
    width: 200px;
    margin: 0 10px;
}

.border_s {
    border: 3px solid #fc5000 !important;
    width: 70%;
}

.more_on_markets a {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.more_on_markets img {
    border-bottom: 8px solid #fc5000 !important;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    .adv {
        width: 100%;
        margin-top: 0;
    }

    .ds_ww p {
        font-size: 15px;
        line-height: 15px;
    }

    .d_ {
        width: 75% !important;
    }

    .d_ span {
        width: 25% !important;
    }

    .d_ p {
        font-size: 5px;
    }

    ._dess_w {
        font-size: 14px;
        margin: 0;
        padding-bottom: 7px;
    }

    #nvp_ {
        height: 90vh;
        padding-top: 20px;
        border-bottom: none;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center center; */
        display: flex;
        background-image: url("https://images.prismic.io/tnfev2/ZmzmNJm069VX1xpg_Homepage-Mobile-Hero-Background.png?auto=format,compress?auto=compress,format&rect=26,0,500,1000&w=480&h=960");
    }

    .dsq_ h3 {
        font-size: 30px;
        padding-top: 0rem !important;
    }

    .ok_ h3 {
        font-size: 33px;
    }

    .ok_ .oks_ {
        font-size: 33px;
    }

    #trade_like_a_boss {
        margin-top: 0;
    }

    #trade_like_a_boss h1 {
        font-size: 27px !important;
    }

    #trade_like_a_boss p {
        font-size: 15px !important;
    }

    #unreal_t .kanit_thin_font {
        font-size: 30px !important;
        line-height: 1 !important;
        margin-bottom: -1rem;
    }

    .js_ {
        font-size: 15px !important;
    }

    .outer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin-top: 20px;
    }

    .p_w {
        font-size: 30px !important;
    }

    .p_ss {
        padding-bottom: 25px;
    }

    .dl_sd {
        font-size: 10px !important;
    }

    .ls_z {
        text-align: center !important;
        padding-top: 20px;
    }
}
