* {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    /* background-color: #050F19; */
}

.d_ {
    font-size: 8px;
}

.d_2 {
    font-size: 10px;
}

.bg_c {
    background-color: #050f19;
    color: #fff;
}

.welcome_d {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./../imgs/jij_.png");
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-top: 23vh;
    background-color: #050f19;
}

.sign_in_login_btn {
    background-color: #46e2bb;
}
